.header {
  display: flex;
  align-itens: center;
}

.logo {
  max-height: 32px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}

